.write_wrap {
    position: relative;
    width: 100%;
    height: 100%;

    .WriteBtn {
        background: #ffcf00;
        font-weight: bold;
        font-size: 20px;
        color: #ffffff;
    }

    .datepick {
        width: 100%;
        padding: 0 0 5px;

        .react-datetimerange-picker__wrapper {
            border-color: #d9d9d9;
            width: 100%;

            .react-datetimerange-picker__inputGroup {
                display: block;
                padding: 0;

                input {
                    padding: 0;
                    border: 0;
                }
            }
        }
    }
}
